@import "_normalize";
@import "_variables";
@import url('https://fonts.googleapis.com/css?family=Literata:400,700&display=swap&subset=latin-ext');


html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #94cfc7;
  font-family: 'Literata';
}

.header {
  grid-area: header;
  margin-top: 16px;
  &__title {
    color: #14aa96;
  }
}

.main {
  width: 100%;
  max-width: 700px;
  margin: 25px auto;
  padding-top: 50px;
  display: grid;
  grid-template-areas: "header header"
  "about content";
  grid-template-columns: 200px 1fr;
}

.article {
  width: 100%;
  max-width: 800px;
  margin: 25px auto;
  padding-top: 50px;
  display: grid;
  grid-template-areas: "header"
  "photo"
  "content";
  grid-template-columns: 1fr;
  &__header {
    grid-area: header;
    margin-top: 16px;
    &--title {
      color: #14aa46;
    }
  }
  &__section {
    grid-area: photo;
  }
  &__photo {
    width: 100%;
    padding: 16px;
  }
  &__content {
    grid-area: content;
  }
  &__paragraph {
  }
}

@media (max-width: 640px) {
.main {
  grid-template-areas: "header"
  "content"
  "about";
  grid-template-columns: 1fr;
}
}

.content {
  grid-area: content;
}

.about {
  grid-area: about;
  &__header {
    color: #1460aa;
  }
  &__paragraph {
    color: darkblue;
    padding: 10px;
    overflow: hidden;
    &--js {
    }
  }
  &__image {
    width: 100%;
    max-width: 200px;
    display: block;
    float: left;
    padding: 16px;
    margin: 0 16px 0 16px
  }
  
}

.top {
  position: fixed;
  bottom: 10px;
  right: 10px;
  color: #1a936f;
  text-decoration: none;
}

.site-header {
  position: fixed;
  width: 100%;
  top: 10px;
  left: 0;
  box-sizing: border-box;
  padding: 16px;
  background: #fff;
  z-index: 5;
}

.navigation {
  &__item {
    display: block;
    margin: 0 16px;
  }
  &:hover {
    color:hotpink;
  }
  &__link {
    color: #1460aa;
    text-decoration: none;
  }
  &__list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.club {
  &__header {
    color: #1460aa;
  }
}

.club-content {
  padding: 16px;
  &__header {
    color: darkcyan;
    &::before {
      content: "";
      display: inline-block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #1460aa;
    }
    &::after {
      content: "";
      display: inline-block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #1460aa;
    }
  }
  &__paragraph {
    color: darkblue;
    padding: 0;
    margin: 0;
    overflow: hidden;
    line-height: 24px;
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

@media (max-width: 640px) {
  .grid {
      grid-template-columns: 1fr;
  }
  .navigation__list {
      flex-direction: column;
      display: none;
  }
  .navigation__list--visible {
      display: flex;
  }
  .navigation__item {
      margin: 16px;
  }
  .navigation__switcher {
      border: none;
      background: none;
      position: absolute;
      left: 16px;
      top: 16px;
  }
  .site-header {
      min-height: 54px;
  }
}

@media (min-width: 641px) {
  .navigation__switcher {
      display: none;
  }
}